:root {
  --card: #fff;
  --word: #5a5050;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: var(--card);
  color: var(--word);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  background-color: transparent;
  border: 1px solid var(--word);
}